# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# CMake specific
.cmake/
CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user
cmake_install.cmake
install_manifest.txt

# Build directories
build/
build_exe/
build_app/
build_win_vs/
build_win_ninja/
out/

# Qt specific
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h

# macOS specific
.DS_Store

# windows
.vs/

